$componenet-name: gyp-form-select;

.#{$componenet-name} {
  &__placeholder {
    color: rgba(0, 0, 0, .5);
  }

  &__popover {
    .gyp-popover__arrow {
      left: 50% !important;
    }
  }

  .gyp-list-row__body {
    position: relative;
  }

  .gyp-button {
    color: inherit;
  }
}
