$component-name: 'gyp-form-text-input';
$font-weight-base: 400;
$font-weight-bold: 700;

%main-text {
  color: #000;
  font-size: 16px;
  line-height: 18px;
  font-weight: $font-weight-bold;
}

%aside-text {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 16px;
  font-weight: $font-weight-base;
}

%text-transition {
  transition-property: font-size, font-weight;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
  will-change: font-size, font-weight, line-height;
}

.#{$component-name} {
  ::placeholder {
    /* stylelint-disable-next-line number-leading-zero */
    color: rgba(0, 0, 0, 0.5);
  }

  // Elements
  &__label {
    @extend %main-text;
  }

  &__input {
    @extend %aside-text;

    width: 100%;
    background: none;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    padding: 0;
    outline: none;
  }

  // Modifiers
  &--focused {
    .#{$component-name}__label {
      @extend %aside-text;
      @extend %text-transition;
    }

    .#{$component-name}__input {
      @extend %main-text;
      @extend %text-transition;
    }
  }

  &--ineditable {
    .#{$component-name}__label,
    .#{$component-name}__input {
      font-weight: $font-weight-base;
    }
  }

  // States
  &.gyp-state-error {
    .#{$component-name}__label,
    .#{$component-name}__input {
      color: inherit;
    }
  }
}
