$component-name: 'gyp-form-text-input';
$font-weight-base: 400;
$font-weight-bold: 700;

%main-text {
    color: #000;
    font-size: 16px;
    line-height: 18px;
    font-weight: $font-weight-bold;
}

%aside-text {
    color: #4d4d4d;
    font-size: 14px;
    line-height: 16px;
    font-weight: $font-weight-base;
}

.#{$component-name} {
    ::placeholder {
        color: rgba(0, 0, 0, .3);
    }

    // Elements
    &__label {
        @extend %main-text;
    }

    &__input {
        @extend %aside-text;

        width: 100%;
        color: inherit;
        font-size: inherit;
        line-height: inherit;
        border: none;
        padding: 0;
        outline: none;
    }

    // Modifiers
    &--focused {
        .#{$component-name}__label {
            @extend %aside-text;
        }

        .#{$component-name}__input {
            @extend %main-text;
        }
    }

    &--ineditable {
        .#{$component-name}__label,
        .#{$component-name}__input {
            font-weight: $font-weight-base;
        }
    }

    // States
    &.gyp-state-error {
        .#{$component-name}__label,
        .#{$component-name}__input {
            color: inherit;
        }
    }
}
