{
    "presets": [
        ["env", { "modules": false }],
        "stage-2",
        "react"
    ],

    "plugins": [
        "transform-runtime",
    ],

    "env": {
        "test": {
            "plugins": [
                "transform-es2015-modules-commonjs"
            ]
        },
        "es5":{
            "plugins": [
                "strip-css-imports",
                "transform-es2015-modules-commonjs"
            ],
            "ignore": ["__tests__"]
        },
        "lib": {
            "plugins": [
                "strip-css-imports"
            ],
            "ignore": ["__tests__"]
        },
        "server": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        }
    }
}
