{
    "comments": false,
    
    "presets": [
        ["env", { "modules": false }],
        "stage-2",
        "react"
    ],

    "plugins": [
        "transform-runtime",
        ["module-resolver", {
            "alias": {
                "src": "./src",
                "demo": "./demo"
            }
        }]
    ],

    "env": {
        "test": {
            "plugins": [
                "transform-es2015-modules-commonjs"
            ]
        },
        "es5":{
            "plugins": [
                "strip-css-imports",
                "transform-es2015-modules-commonjs"
            ],
            "ignore": ["__tests__"]
        },
        "lib": {
            "plugins": [
                "strip-css-imports"
            ],
            "ignore": ["__tests__"]
        },
        "demo": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        },
        "storybook": {
            "plugins": [
                "transform-es2015-modules-commonjs"
            ]
        }
    }
}
