@import "./colors";

$prefix: 'gyp';
$prefix-state: 'gyp-state';

// ----------------------
//  Common typography
// ----------------------
$font-size-large: 16px;
$font-size-base:  14px;
$font-size-small: 12px;

$line-height-large: 18px;
$line-height-base:  16px;
$line-height-small: 14px;

// ----------------------
//  Common font weights
// ----------------------
$font-weight-light: 200;
$font-weight-base: 400;
$font-weight-bold: 600;

// Compatibility with ic-framework
$root-font-size: 16px;

// ----------------------
//  Row components
// ----------------------
$component-flex-basis: auto;
$component-base-font-size: 16px;
$component-padding: 4px;

$element-base-height: 32px;
$row-base-height: 48px;

$header-padding: 4px;

// ----------------------
//  <Text>
// ----------------------
$basic-text-font-size: $font-size-large;
$basic-text-line-height: $line-height-large;
$aside-text-font-size: $font-size-base;
$aside-text-line-height: $line-height-base;

$header-padding: 4px;

$tag-font-size: $font-size-small;
$tag-border-radius: 6px;
$tag-vertical-padding: 2px;
$tag-horizontal-padding: 4px;

$tooltip-arrow-size: 6px;

$icon-base-size: $element-base-height;
$icon-large-size: 96px;

$switch-icon-width: 48px;
$switch-icon-height: 24px;
$switch-icon-border-width: 2px;
$switch-padding-vertical: 4px;
$switch-padding-horizontal: 8px;

$status-icon-inline-size: $basic-text-line-height;
$status-icon-corner-size: 16px;

$button-border-radius: 4px;

$search-input-background-color: $c-white;
$search-input-border-color: $c-gray;
$search-input-border-radius: 6px;
$search-input-padding: 8px;

$list-border-radius: 8px;
$list-vertical-margin: 8px;

$list-row-padding-horizontal: 16px;
$list-row-padding-vertical: 4px;

$list-row-footer-padding-top: 2px;
$list-row-footer-padding-bottom: 8px;
$list-row-footer-font-size: $font-size-small;
$list-row-footer-line-height: $line-height-small;

$column-body-padding: 16px;

$popup-container-width: 300px;
$popup-border-radius: 8px;
$poup-box-shadow: 0 2px 8px hsba(0, 0, 0, 40);

// -------------------------------------
// Timing Functions
//
// Retrived from: https://matthewlein.com/ceaser/
// License granted on webpage.
// -------------------------------------

$ease-out-quad: cubic-bezier(.25, .46, .45, .94);
$ease-out-cubic: cubic-bezier(.215, .61, .355, 1);

// -------------------------------------
//   z-index layers
// -------------------------------------

$z-layers: (
    "popup":        1000,
    "modal":        999,
    "popover":      100,
    "top":          99,
    "front":        9,
    "base":         1,
    "default":      0,
    "below":        -1,
    "hidden":       -9999,
);
