@import "./mixins";

@font-face {
    font-family: "gyp-icon";
    src: url("../fonts/gyp-icon.eot?67010214");
    src:
        url("../fonts/gyp-icon.eot?67010214#iefix") format("embedded-opentype"),
        url("../fonts/gyp-icon.woff2?67010214") format("woff2"),
        url("../fonts/gyp-icon.woff?67010214") format("woff"),
        url("../fonts/gyp-icon.ttf?67010214") format("truetype"),
        url("../fonts/gyp-icon.svg?67010214#ic-icon") format("svg");
    font-weight: normal;
    font-style: normal;
}

// -------------------------------------
// Icons shared style
// -------------------------------------
.#{$prefix}-icon,
[class^="#{$prefix}-icon-"],
[class*=" #{$prefix}-icon-"] {
    width: 1em;
    height: 1em;
    line-height: 1em;
    font-size: rem($icon-base-size);
    font-family: "gyp-icon";
    font-style: normal;
    font-weight: normal;
    text-align: center;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    speak: none;

    /* For safety - reset parent styles, that can break glyph codes */
    font-variant: normal;
    text-transform: none;

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.#{$prefix}-icon--large {
    font-size: rem($icon-large-size);
}

// -------------------------------------
// Icon Stack
// -------------------------------------
.#{$prefix}-icon-stack {
    width: auto;
    position: relative;

    & > * {
        vertical-align: top;
    }
}

// -------------------------------------
// Icon animation
// -------------------------------------
.#{$prefix}-icon {
    &--spin {
        animation: anim-spin 2s infinite linear;
    }
}

// -------------------------------------
// Icon Colors
// -------------------------------------
.#{$prefix}-icon {
    &--gray {
        color: $c-gray;
    }

    &--blue {
        color: $c-blue;
    }

    &--red {
        color: $c-red;
    }
}

// -------------------------------------
// Name icon mapping
// -------------------------------------

.#{$prefix}-icon-row-padding {
    width: rem($list-row-right-padding-small);
}

/* Direct copy from fontello */
/* stylelint-disable rule-empty-line-before */

.#{$prefix}-icon-add:before {
    content: "\e800"; /* "" */
}
.#{$prefix}-icon-edit:before {
    content: "\e801"; /* "" */
}
.#{$prefix}-icon-duplicate:before {
    content: "\e802"; /* "" */
}
.#{$prefix}-icon-copypaste:before {
    content: "\e803"; /* "" */
}
.#{$prefix}-icon-tickets:before {
    content: "\e804"; /* "" */
}
.#{$prefix}-icon-trashcan:before {
    content: "\e805"; /* "" */
}
.#{$prefix}-icon-drag:before {
    content: "\e806"; /* "" */
}
.#{$prefix}-icon-success:before {
    content: "\e807"; /* "" */
}
.#{$prefix}-icon-error:before {
    content: "\e808"; /* "" */
}
.#{$prefix}-icon-delete:before {
    content: "\e809"; /* "" */
}
.#{$prefix}-icon-header-next:before {
    content: "\e80a"; /* "" */
}
.#{$prefix}-icon-header-prev:before {
    content: "\e80b"; /* "" */
}
.#{$prefix}-icon-fold:before {
    content: "\e80c"; /* "" */
}
.#{$prefix}-icon-unfold:before {
    content: "\e80d"; /* "" */
}
.#{$prefix}-icon-next:before {
    content: "\e80e"; /* "" */
}
.#{$prefix}-icon-prev:before {
    content: "\e80f"; /* "" */
}
.#{$prefix}-icon-folder:before {
    content: "\e810"; /* "" */
}
.#{$prefix}-icon-loading:before {
    content: "\e811"; /* "" */
}
.#{$prefix}-icon-lock:before {
    content: "\e812"; /* "" */
}
.#{$prefix}-icon-unlock:before {
    content: "\e813"; /* "" */
}
.#{$prefix}-icon-radio-empty:before {
    content: "\e814"; /* "" */
}
.#{$prefix}-icon-radio-half:before {
    content: "\e815"; /* "" */
}
.#{$prefix}-icon-radio-selected:before {
    content: "\e816"; /* "" */
}
.#{$prefix}-icon-picture:before {
    content: "\e817"; /* "" */
}
.#{$prefix}-icon-printer:before {
    content: "\e818"; /* "" */
}
.#{$prefix}-icon-pencil:before {
    content: "\e819"; /* '' */
}
.#{$prefix}-icon-retry:before {
    content: "\e81a"; /* '' */
}
.#{$prefix}-icon-cash:before {
    content: '\e81b'; /* '' */
}
.#{$prefix}-icon-credit-card:before {
    content: '\e81c'; /* '' */
}
.#{$prefix}-icon-ctbc-direct:before {
    content: '\e81d'; /* '' */
}
.#{$prefix}-icon-ctbc-mpos:before {
    content: '\e81e'; /* '' */
}
.#{$prefix}-icon-custom-pay:before {
    content: '\e81f'; /* '' */
}
.#{$prefix}-icon-inline-error:before {
    content: '\e820'; /* '' */
}
.#{$prefix}-icon-inline-loading:before,
.#{$prefix}-icon-loading-full:before {
    content: '\e821'; /* '' */
}
.#{$prefix}-icon-inline-success:before,
.#{$prefix}-icon-success-full:before {
    content: '\e822'; /* '' */
}
.#{$prefix}-icon-pause:before {
    content: '\e823'; /* '' */
}
.#{$prefix}-icon-play:before {
    content: '\e824'; /* '' */
}
.#{$prefix}-icon-search:before {
    content: '\e825'; /* '' */
}
.#{$prefix}-icon-crm-address:before {
    content: '\e826'; /* '' */
}
.#{$prefix}-icon-crm-age:before {
    content: '\e827'; /* '' */
}
.#{$prefix}-icon-crm-birthday:before {
    content: '\e828'; /* '' */
}
.#{$prefix}-icon-crm-email:before {
    content: '\e829'; /* '' */
}
.#{$prefix}-icon-crm-gender:before {
    content: '\e82a'; /* '' */
}
.#{$prefix}-icon-crm-member-name:before {
    content: '\e82b'; /* '' */
}
.#{$prefix}-icon-crm-member-note:before {
    content: '\e82c'; /* '' */
}
.#{$prefix}-icon-crm-phone-land:before {
    content: '\e82d'; /* '' */
}
.#{$prefix}-icon-crm-phone-mobile:before {
    content: '\e82e'; /* '' */
}
.#{$prefix}-icon-inventory-category:before {
    content: '\e833'; /* '' */
}
.#{$prefix}-icon-inventory-item:before {
    content: '\e834'; /* '' */
}
.#{$prefix}-icon-download:before {
    content: '\e860'; /* '' */
}
.#{$prefix}-icon-add-item:before {
    content: '\e832'; /* '' */
}
.#{$prefix}-icon-add-multi-items:before {
    content: '\e82f'; /* '' */
}
.#{$prefix}-icon-clear-item:before {
    content: '\e830'; /* '' */
}
/* stylelint-enable */
