@import "./mixins";

.#{$prefix}-row-comp {
    min-height: rem($component-base-height);
    font-size: rem($basic-text-font-size);
    line-height: rem($basic-text-line-height);
    padding: rem($component-padding);
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    overflow: hidden;

    @at-root {
        button#{&} {
            padding: rem($component-padding);
        }
    }

    // ----------------------
    //  <RowComp> elements
    // ----------------------
    &__body {
        display: flex;
        flex: 1 1 100%;
        overflow: hidden;
        align-items: flex-start;

        @at-root {
            .#{$prefix}-row-comp--center & {
                justify-content: center;
            }

            .#{$prefix}-row-comp--reverse & {
                flex-direction: column-reverse;
            }
        }
    }

    // ----------------------
    //  <RowComp> states
    // ----------------------
    &.#{$prefix-state}-active {
        background: $c-comp-bg-active;
    }

    // ----------------------
    //  <RowComp> modifiers
    // ----------------------
    &--minified {
        flex: 0 0 auto;
    }
}
