@import "./mixins";

.#{$prefix}-switch {
    &__icon-wrapper {
        position: relative;
        flex: 0 0 auto;
    }

    &__input {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
    }
}
