@import "./mixins";

// Visual element to be put inside a Component.

// ===============
//  Element Block
// ===============

.#{$prefix}-text {
    min-height: rem($element-base-height);
    font-size: rem($basic-text-font-size);
    line-height: rem($basic-text-line-height);
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

// ===============
//  Element Parts
// ===============

.#{$prefix}-text {
    &__row {
        display: flex;
        align-items: flex-start;
    }

    &__basic {
        font-size: inherit;
        line-height: inherit;
        font-weight: $font-weight-bold;
    }

    &__aside {
        color: $c-text-aside;
        font-size: rem($aside-text-font-size);
        line-height: rem($aside-text-line-height);
    }
}

// ===============
//  Modifiers
// ===============

.#{$prefix}-text {
    &--no-grow {
        flex-grow: 0;
    }

    &--center {
        .#{$prefix}-text__row {
            justify-content: center;
        }
    }

    &--right {
        .#{$prefix}-text__row {
            flex-direction: row-reverse;
        }
    }
}
