@import './variables';

// Styles for shared states

.#{$prefix-state}-editable {
  color: $c-text-editable !important;
}

.#{$prefix-state}-error {
  color: $c-text-error !important;
}

.#{$prefix-state}-untouchable {
  pointer-events: none !important;
}

// only disable pointer events, but not apply opacity to prevent nested opacity
[disabled] {
  pointer-events: none !important;
}

.#{$prefix-state}-disabled {
  /* stylelint-disable-next-line number-leading-zero */
  opacity: 0.3 !important;
  pointer-events: none !important;
}

.#{$prefix-state}-muted {
  /* stylelint-disable-next-line number-leading-zero */
  opacity: 0.3 !important;
}

[hidden],
.#{$prefix-state}-hidden {
  display: none;
}
