@import "./colors";

$prefix: 'gyp';
$prefix-state: 'gyp-state';

// ----------------------
//  Common typography
// ----------------------
$font-size-large: 16px;
$font-size-base:  14px;
$font-size-small: 12px;

$line-height-large: 18px;
$line-height-base:  16px;
$line-height-small: 14px;

// ----------------------
//  Common font weights
// ----------------------
$font-weight-light: 200;
$font-weight-base: 400;
$font-weight-bold: 700;

// Compatibility with ic-framework
$root-font-size: 16px;

// ----------------------
//  Row components
// ----------------------
$component-flex-basis: auto;
$component-base-font-size: 16px;
$component-padding: 4px;

$element-base-height: 32px;
$row-base-height: 48px;

// ----------------------
//  <Text>
// ----------------------
$basic-text-font-size: $font-size-large;
$basic-text-line-height: $line-height-large;
$aside-text-font-size: $font-size-base;
$aside-text-line-height: $line-height-base;
$aside-text-opacity: .7;

$tag-font-size: $font-size-small;
$tag-border-radius: 6px;
$tag-vertical-padding: 2px;
$tag-horizontal-padding: 4px;

$tooltip-arrow-size: 6px;

$icon-base-size: $element-base-height;
$icon-large-size: 96px;

$switch-icon-width: 48px;
$switch-icon-height: 24px;
$switch-icon-border-width: 2px;
$switch-padding-vertical: 4px;
$switch-padding-horizontal: 8px;

$status-icon-inline-size: $basic-text-line-height;
$status-icon-corner-size: 16px;

$button-border-radius: 4px;

$search-input-background-color: $c-white;
$search-input-border-color: $c-black-30;
$search-input-border-radius: 20px;
$search-input-padding: 8px;

$section-title-font-size: 18px;
$section-title-line-height: 20px;
$section-top-margin: 24px;
$section-bottom-margin: 48px;
$section-horizontal-padding: 16px;

$list-border-radius: 8px;

$list-row-padding-horizontal: 16px;
$list-row-padding-vertical: 4px;

$list-row-footer-padding-top: 2px;
$list-row-footer-padding-bottom: 8px;
$list-row-footer-font-size: $font-size-small;
$list-row-footer-line-height: $line-height-small;

$header-row-padding: 4px;
$header-row-box-shadow: 0 3px 3px hsba(0, 0, 0, 16);

$popup-container-width: 256px;
$popup-border-radius: 8px;
$poup-box-shadow: 0 2px 8px hsba(0, 0, 0, 40);

$popover-min-width: 240px;
$popover-max-width: 320px;
$popover-max-height: 320px;
$popover-arrow-size: 11px;
$popover-top-padding: 8px;
$popover-bottom-padding: 16px;
$popover-border-radius: 8px;
$popover-drop-shadow: 0 2px 3px hsba(0, 0, 0, 40);

$modal-width:      720px;
$modal-max-width:  90%;
$modal-height:     480px;
$modal-max-height: 90%;
$modal-border-radius:    $popover-border-radius;
$modal-box-shadow:       $poup-box-shadow;
$modal-indent-layer-max: 7;

$splitview-narrow-min-width: 240px;
$splitview-narrow-max-width: 400px;
$splitview-wide-min-width:   360px;

// -------------------------------------
// Timing Functions
//
// Retrived from: https://matthewlein.com/ceaser/
// License granted on webpage.
// -------------------------------------

$ease-out-quad: cubic-bezier(.25, .46, .45, .94);
$ease-out-cubic: cubic-bezier(.215, .61, .355, 1);
