@import "./mixins";

// -------------------------------------
//   Component Block
// -------------------------------------
.#{$prefix}-avatar {
    width: 2.2rem;
    height: 2.2rem;
    overflow: hidden;
    margin: .2rem .45rem .2rem .25rem;
    background-color: $c-gray;
    flex-shrink: 0;

    // ----------------------
    //  <Avatar> variants
    // ----------------------
    &--square {
        border-radius: 0;
    }

    &--rounded {
        border-radius: 6px;
    }

    &--circle {
        border-radius: 50%;
    }

    // ----------------------
    //  Inner image
    // ----------------------
    & > img {
        width: 100%;
        height: 100%;
        text-align: center;
        object-fit: cover;
    }
}

// Override the default left margin on <ListRow>
.#{$prefix}-list-row > .#{$prefix}-avatar {
    &:first-child {
        margin-left: 0;
    }
}

.#{$prefix}-list-row__body > .#{$prefix}-avatar {
    &:first-child {
        margin-left: 0;
    }
}
