@import './mixins';
@import './variables';

.#{$prefix}-card-layout {
  display: flex;
  gap: 12px;

  &--row {
    flex-direction: row;

    .#{$prefix}-card {
      flex: 1;
      height: 100%;
    }
  }

  &--column {
    flex-direction: column;
  }

  &--grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));

    .#{$prefix}-card {
      height: 100%;
    }
  }
}
