@import "./mixins";
$component: #{$prefix}-column-view;

.#{$component} {
    width: 100%;
    height: 100%;
    background-color: $c-column-bg;
    display: flex;
    flex-direction: column;
    // when nested under another column view
    flex: 1 1 100%;

    // --------------------
    //  Elements
    // --------------------
    &__header,
    &__footer {
        flex: 0 0 auto;
    }

    &__body {
        flex: 1 1 auto;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    &__footer {
        border-top: 1px solid $c-divider-header;
    }
}
