@import "./mixins";
$component: #{$prefix}-list;

.#{$component} {
    padding: rem($list-vertical-margin) 0;

    // --------------------
    //  Elements
    // --------------------
    &__body {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__title,
    &__desc {
        font-size: rem($aside-text-font-size);
        line-height: rem($aside-text-line-height);
    }

    &__title {
        font-weight: $font-weight-bold;
        padding: rem(12px) 0 rem(4px);
    }

    &__desc {
        padding-top: rem(8px);
        margin-right: rem($list-row-padding-horizontal);
    }

    // --------------------
    //  Variants
    // --------------------
    &--normal {
        .#{$component}__title {
            border-bottom: 2px solid $c-divider-header;
        }

        .#{$component}__title,
        .#{$component}__desc {
            margin-left: rem($list-row-padding-horizontal);
        }
    }

    &--setting {
        .#{$component}__body {
            background-color: white;
            border: 1px solid $c-divider-row;
            border-radius: rem($list-border-radius);
        }

        .#{$component}__title,
        .#{$component}__desc {
            margin-left: rem($list-border-radius);
        }
    }
}
