@import "./mixins";
$component: #{$prefix}-list-row;

.#{$component} {
    min-height: $row-base-height;
    padding: 0 $list-row-padding-horizontal;
    box-sizing: border-box;

    &:hover {
        background-color: $c-row-bg-hover;
    }

    // --------------------
    //  Elements
    // --------------------
    &__body {
        display: flex;
        align-items: flex-start;
        padding: $list-row-padding-vertical 0;
        box-shadow: inset 0 -1px 0 $c-divider-row;

        // Styles inside List
        .#{$prefix}-list--setting li:last-of-type > & {
            border-bottom: none;
        }

        & > :first-child {
            margin-left: -$component-padding;
        }

        & > :last-child {
            margin-right: -$component-padding;
        }
    }

    &__footer {
        font-size: $list-row-footer-font-size;
        line-height: $list-row-footer-line-height;
        padding-top: $list-row-footer-padding-top;
        padding-bottom: $list-row-footer-padding-bottom;

        p {
            margin: 0 0 $list-row-footer-padding-bottom;
        }
    }

    // --------------------
    //  Modifiers
    // --------------------
    &--highlight {
        background-color: $c-row-bg-highlight !important;
        color: $c-white;
    }

    // --------------------
    //  In other component
    // --------------------
    .#{$prefix}-list--setting & {
        &:last-of-type {
            .#{$component}__body {
                box-shadow: none;
            }
        }
    }
}
