@import "./mixins";
$component: #{$prefix}-list-row;

.#{$component} {
    min-height: rem($row-base-height);
    padding: 0 rem($list-row-padding-horizontal);
    box-sizing: border-box;

    &:hover {
        background-color: $c-row-bg-hover;
    }

    // --------------------
    //  Elements
    // --------------------
    &__body {
        display: flex;
        align-items: flex-start;
        padding: rem($list-row-padding-vertical) 0;
        box-shadow: inset 0 -1px 0 $c-divider-row;

        // Styles inside List
        .#{$prefix}-list--setting li:last-of-type > & {
            border-bottom: none;
        }

        & > :first-child {
            margin-left: -$component-padding;
        }

        & > :last-child {
            margin-right: -$component-padding;
        }
    }

    &__footer {
        font-size: $list-row-footer-font-size;
        line-height: rem($list-row-footer-line-height);
        padding-top: rem($list-row-footer-padding-top);
        padding-bottom: rem($list-row-footer-padding-bottom);
        white-space: pre-wrap;

        p {
            margin: 0 0 rem($list-row-footer-padding-bottom);
        }
    }

    // --------------------
    //  Modifiers
    // --------------------
    &--highlight {
        background-color: $c-row-bg-highlight !important;
        color: $c-white;
    }

    // --------------------
    //  Nested list
    // --------------------
    & .#{$prefix}-list & {
        padding-right: 0;
    }

    // --------------------
    //  In other component
    // --------------------
    .#{$prefix}-list--setting & {
        &:last-of-type {
            .#{$component}__body {
                box-shadow: none;
            }
        }
    }
}
