@import './mixins';
$component: #{$prefix}-list;

.#{$component} {
  // --------------------
  //  Elements
  // --------------------
  &__body {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__top-area {
    margin:
      rem($list-top-area-margin-top)
      rem($section-horizontal-padding)
      rem($list-top-area-margin-bottom);
  }

  // --------------------
  //  Variants
  // --------------------
  &--setting {
    // #TODO: design deprecated
    margin-left: rem($section-horizontal-padding);
    margin-right: rem($section-horizontal-padding);

    .#{$component}__body {
      background-color: white;
      border: 1px solid $c-row-divider;
      border-radius: rem($list-border-radius);
    }

    .#{$prefix}-section__title {
      padding-bottom: rem(2px);
      border-bottom: none;
    }
  }

  &--button {
    // #TODO: implement button list
  }

  &--sm-margin-bottom {
    margin-bottom: rem($section-top-margin);
  }
}
