@import "./mixins";

.#{$prefix}-base-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // #FIXME: for compatibility with ic-framework. Should remove in the future.
  z-index: 1000;
}
