@import './mixins';

.#{$prefix}-search-input {
  // ----------------------
  //  SearchInput Elements
  // ----------------------
  ::placeholder {
    color: $c-text-disabled;
  }

  &__input {
    height: rem($element-base-height);
    background-color: $search-input-background-color;
    font-size: rem($basic-text-font-size);
    border: none;
    padding: 0;
    flex: 1 1 auto;
    outline: none;
  }

  &__reset-button {
    @include remove-button-appearance;
  }

  &__input-wrapper {
    background-color: $search-input-background-color;
    border: 1px solid $search-input-border-color;
    border-radius: $search-input-border-radius;
    box-sizing: content-box;
    overflow: hidden;
    flex: 1 1 100%;
    display: flex;
    align-content: flex-start;
  }

  &__input-icon {
    cursor: pointer;
  }
}
