@import "./mixins";

$component-name: #{$prefix}-section;

.#{$component-name} {
    margin-top: rem($section-top-margin);
    margin-bottom: rem($section-bottom-margin);

    // --------------------
    //  Elements
    // --------------------
    &__title,
    &__desc {
        white-space: pre-wrap;
        margin-left: rem($section-horizontal-padding);
        margin-right: rem($section-horizontal-padding);
    }

    &__title {
        display: flex;
        align-items: flex-end;
        line-height: rem($section-title-line-height);
        font-weight: $font-weight-bold;
        padding-bottom: rem(5px);
        border-bottom: 2px solid $c-section-divider;

        // title font-size
        &--base {
            font-size: rem($section-title-font-size);
        }

        &--small {
            font-size: rem($section-title-font-size-small);
        }

        &:before {
            content: "\25a0";
            display: inline-block;
            margin-right: .25em;
        }
    }

    &__title-right-area {
        margin-left: auto;
        flex-grow: 0;
        flex-shrink: 0;
    }

    &__desc {
        @include small-text;
        // take padding from row layout as reference
        padding-top: rem(2px);
    }

    &__body {
        &--padded {
            // for aligning non-row components
            padding-left: rem($section-horizontal-padding);
            padding-right: rem($section-horizontal-padding);
        }
    }

    // --------------------
    //  Modifiers
    // --------------------
    &--no-margin {
        margin-top: 0;
        margin-bottom: 0;
    }
}
