@import './mixins';

//   <Tag>
//   =====
//   Tags doesn't have their own colors, instead they follow the color of
//   the state of their parent components.

// -------------------------------------
//   Component Block
// -------------------------------------

.#{$prefix}-tag {
  background-color: $c-black;
  background-color: currentColor;
  color: inherit;
  font-size: rem($tag-font-size); // 12px
  line-height: 1em;
  padding: rem($tag-vertical-padding) rem($tag-horizontal-padding);
  border: rem(1px) solid transparent;
  border-radius: rem($tag-border-radius);
  background-clip: padding-box;
  display: inline-block;
  vertical-align: text-top;
  white-space: pre-wrap;

  & > span {
    color: $c-white;
  }
}

// -------------------------------------
//   Component Colors
// -------------------------------------

.#{$prefix}-tag {
  .#{$prefix-state}-highlight & {
    color: $c-row-bg-highlight;
  }

  .#{$prefix-state}-highlight .#{$prefix-state}-error & {
    color: $c-text-error;
  }
}
