{
    "comments": false,

    "presets": [
        ["env", { "modules": false }],
        "stage-2",
        "react"
    ],

    "plugins": [
        "transform-runtime",
        ["module-resolver", {
            "root": ["./"],
            "cwd": "packagejson"
        }]
    ],

    "env": {
        "test": {
            "plugins": [
                "transform-es2015-modules-commonjs"
            ]
        },
        "es5":{
            "plugins": [
                "strip-css-imports",
                "transform-es2015-modules-commonjs"
            ],
            "ignore": ["__tests__"]
        },
        "lib": {
            "plugins": [
                "strip-css-imports"
            ],
            "ignore": ["__tests__"]
        },
        "storybook": {
            "plugins": [
                "transform-es2015-modules-commonjs"
            ]
        }
    }
}
