@import "~@ichef/gypcrete/src/styles/mixins";

$component-name: "#{$prefix}-image-editor";
$placeholder-icon-color: rgba(0, 0, 0, .3);
$placeholder-border-color: rgba(0, 0, 0, .1);

.#{$component-name} {
    canvas {
        // to remove mystery space below <canvas>
        vertical-align: top;
    }

    // elements
    &__canvas {
        position: relative;
        cursor: grab;
    }

    &__control {
        margin-top: rem(8px);
    }

    &__slider {
        width: 100%;
        height: rem(16px);
        background: transparent;
        margin: 0;
    }

    // modifiers
    &--auto-margin {
        margin-left: auto;
        margin-right: auto;
    }

    &--no-image {
        $spacing:0;

        .#{$component-name}__canvas:before {
            content: "\e817";
            width: 100%;
            height: 100%;
            color: $placeholder-icon-color;
            font-family: "gyp-icon";
            font-size: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 4px dashed $placeholder-border-color;
            border-radius: 8px;
            box-sizing: border-box;
            position: absolute;
        }
    }

    &--no-image,
    &--readonly {
        .#{$component-name}__canvas {
            cursor: default;
        }
    }
}
